<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/Style/normalized.css">
    <link rel="stylesheet" href="../assets/Style/main.css">  
    <script src="https://kit.fontawesome.com/cc236d5619.js"crossorigin="anonymous"></script>
</head>

<body>
    
    <header class="header">

    </header>

    <main class="main">
        <section class="p1m">


        </section>
        <section class="p2m">
        
            <div class="p3main-title">
                <h2 class="p3main-h2-main">سبدگردان مفید</h2>
                <h2 class="p3main-h2-secondary">آینده در گرو تصمیمات امروز شماست</h3>
            </div>
            <div class="p3main--Text-moshavere">
                <div>دستیابی به بازدهی مثبت در بورس نیازمند یادگیری، صرف زمان و هزینه‌ی زیادی</div>
                <div>است. اگر علاقه‌مند به سرمایه‌گذاری هستید اما فرصت کافی برای یادگیری</div>
                <div>روش‌های تحلیل در بورس ندارید صندوق‌های سرمایه‌گذاری انتخاب هوشمندانه‌ای</div>
                <div>هستند.</div>
            </div>
            <div class="p3main-submit">
                <button class="p3main-submit-button">ثبت درخواست مشاوره رایگان</button>
                <div class="p3main-more-information">
                    <div class="p3main-text-more">اطلاعات بیشتر</div>
                    <div class="p3main-arrow"><i class="fa-solid fa-arrow-left"></i></div>
                </div>
            </div>  
        </div>
        
        <div class="p3main-QR">
        <h2 class="p3main-main3-1">مزایای صندوق‌های سرمایه‌گذاری</h2>
        <h3 onclick="p3main_Js1()" id="p3main-h3-1">نقدشوندگی مناسب</h3>
        <div id="p3main-DIV1">برخلاف نماد‌های عادی که ممکن است به علل مختلف با صف فروش مواجه شوند، صندوق‌های سرمایه‌گذاری قابلیت نقدشوندگی بالایی دارند.</div>
        <h3 onclick="p3main_Js2()" id="p3main-h3-2">سرمایه‌گذاری با پول کم</h3>
        <div id="p3main-DIV2">شما می‌توانید با مبالغی حتی کمتر از ۱۰۰ هزار تومان نیز واحد صندوق‌های سرمایه‌گذاری را خریداری کنید.</div>
        <h3 onclick="p3main_Js3()" id="p3main-h3-3">مدیریت حرفه‌ای</h3>
        <div id="p3main-DIV3">با سرمایه‌گذاری در صندوق‌ها مدیریت دارایی خود را به افرادی متخصص با سال‌ها تجربه در حوزه بازار سرمایه می‌سپارید.</div>
        <h3 onclick="p3main_Js4()" id="p3main-h3-4">کنترل ریسک</h3>
        <div id="p3main-DIV4">دارایی‌های هر صندوق در تعداد زیادی از انواع اوراق بهادار سرمایه‌گذاری می‌شود. تنوع در سبد دارایی موجب کنترل بهتر ریسک می‌شود. </div>
        <img src="../assets/Images/p3main.webp" alt="" class="img-pmain3">

        </section>

        <section class="p3m">

        </section>
        <section class="p4-5m">
            <div class="p4m__container">
                <div class="p4m__title">
                    <h2 class="p4m__mb-2">خدمات معاملات آنلاین</h2>
                    <span>معاملات اوراق بهادار</span>
                </div>
                <div class="p4m__boxes">
                    <div class="p4m__px-4">
                        <div class="p4m__circle p4m__circle-1"></div>
                        <span class="label">سامانه‌های معاملاتی متنوع</span>
                    </div>
                    <div class="p4m__px-4">
                        <div class="p4m__circle p4m__circle-3"></div>
                        <span class="label">طرح حامی</span>
                    </div>
                    <div class="p4m__px-4">
                        <div class="p4m__circle p4m__circle-4"></div>
                        <span class="label">سبد پیشنهادی سهام</span>
                    </div>
                    <div class="p4m__px-4">
                        <div class="p4m__circle p4m__circle-5"></div>
                        <span class="label">بسته‌های اعتباری</span>
                    </div>
                    <div class="p4m__px-4">
                        <div class="p4m__circle p4m__circle-2"></div>
                        <span class="label">تخفیف کارمزد</span>
                    </div>
                    <div class="p4m__px-4">
                        <div class="p4m__circle p4m__circle-6"></div>
                        <span class="label">پلکان</span>
                    </div>
                </div>
                <div class="p4m__content">
                    <p class="p4m__mb-6">
                        اگر علاقه‌مند به فعالیت و خرید و فروش سهام در بازار سرمایه هستید، کارگزاری مفید با ارائه خدمات
                        متنوع در این حوزه مانند سامانه‌های معاملاتی حرفه‌ای، اعتبار معاملاتی، تخفیف کارمزد، پشتیبانی ۲۴
                        ساعته و… شما را در مسیر رسیدن به اهداف مالی مد نظرتان یاری می‌کند.
                    </p>
                    <div class="p4m__footer">
                        <a class="p4m__Button">دریافت کد بورسی</a>
                        <a class="p4m__more">اطلاعات بیشتر</a>
                    </div>
                </div>
            </div>
            <div class="p5m__easytrader">
                <h3 class="p5m__title"><img class="p5m__lazy" src="../assets/Images/easy-logo.svg">ایزی‌تریدر؛
                    ساده اما حرفه‌ای</h3>
                <div class="p5m__easytrader-shots">
                    <img class="p5m__lazy p5m__height" src="../assets/Images/easytrader-shot.png" width="1752"
                        height="1015">
                    <img class="p5m__mobile p5m__lazy" src="../assets/Images/easytrader-mobile.png">
                </div>
                <div class="p5m__details">
                    <div class="p5m__col-1">
                        <img class="p5m__logo" src="../assets/Images/easytrader-large.svg">
                        <span class="p5m__symbol">
                            <strong>Easy</strong>
                            Trader
                        </span>
                    </div>
                    <div class="p5m__col-2">
                        <p class="p5m__mb-4">
                            ایزی‌تریدر هم اکنون بیشترین تعداد کاربر را در میان سامانه‌های معاملاتی در بازار
                            سرمایه کشور داراست. این نرم‌افزار با محیطی ساده، امکاناتی حرفه‌ای را در اختیار
                            معامله‌گران قرار می‌دهد. ایزی‌تریدر در دو نسخه وب و موبایل قابل استفاده است.
                        </p>
                        <a class="p5m__more">بیشتر بدانید</a>
                    </div>
                </div>
            </div>
            <div class="p5m__container">
                <div class="p5m__row">
                    <div class="p5m__col-2-1">
                        <div class="p5m__wrapper">
                            <div class="p5m__flex">
                                <span class="p5m__icon p5m__icon-hami"></span>
                                <div class="p5m__texts">
                                    <h4 class="p5m__mb-2">طرح حامی</h4>
                                    <span>با حامی سرمایه شما بیکار نمی‌ماند</span>
                                </div>
                            </div>
                            <div class="p5m__main">
                                <p class="p5m__text-white">
                                    طرح حامی برای مانده‌حساب بلااستفاده در حساب معاملاتی شما نزد کارگزاری سود
                                    روزشمار محاسبه کرده و این مبلغ را ماهیانه به شما می‌پردازد.
                                </p>
                                <a class="p5m__more p5m__more-data">اطلاعات بیشتر</a>
                            </div>
                        </div>
                    </div>
                    <div class="p5m__col-2-2">
                        <div class="p5m__wrapper">
                            <div class="p5m__flex">
                                <span class=" p5m__icon p5m__icon-karmozd"></span>
                                <div class=" p5m__texts  p5m__text-white">
                                    <h4 class="mb-2">تخفیف کارمزد</h4>
                                    <span>۲۵٪ تخفیف کارمزد معاملات</span>
                                </div>
                            </div>
                            <div class=" p5m__main">
                                <p class=" p5m__text-white">
                                    شما می‌توانید به اندازه ۲۵ درصد از کارمزد کارگزاری مفید بر روی تمام معاملات خود
                                    تخفیف دریافت کنید. تخفیف کارمزد معاملات یکی از پاداش‌های باشگاه مشتریان پلکان
                                    است.
                                </p>
                                <a class="p5m__more p5m__more-data">اطلاعات بیشتر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- **************************************************************************************** -->
    <!-- begin footer moradi-->
    <footer class="footer">
        <div class="footer__main-page"> 
            <h1>سازمان ها و نهادها</h1>
            <div class="footer__container-logos">
                <div class="footer__logo">
                    <img class="logo" src="../assets/Images/01.png" alt="وزارت اقتصاد ودارایی">
                    <p>وزارت اقتصاد ودارایی</p>
                </div>
                <div class="footer__logo">
                    <img class="logo" src="../assets/Images/02.png" alt="سازمان بورس">                   
                    <p>سازمان بورس</p>
                </div>
                <div class="footer__logo">
                    <img class="logo" src="../assets/Images/03.png" alt="بورس اوراق بهادارتهران">
                    <p>بورس اوراق بهادار تهران</p>
                </div>
                <div class="footer__logo">
                    <img class="logo" src="../assets/Images/04.png" alt="کانون کارگزاران">
                    <p>کانون کارگزاران</p>
                </div>
                <div class="footer__logo">
                    <img class="logo" src="../assets/Images/05.png" alt="فرابورس">
                    <p>فرابورس</p>
                </div>
                <div class="footer__logo">
                    <img class="logo" src="../assets/Images/06.png" alt="بورس کالا">
                    <p>بورس کالا</p>
                </div>
                <div class="footer__logos">
                    <img class="logo" src="../assets/Images/07.png" alt="انجمن مالی اسلامی">
                    <p>انجمن مالی اسلامی</p>
                </div>
            </div>
        </div>
        <!-- ************************************************************************************* -->
        <div class="footer__all-page">
            <div class="footer__support">
                <div>
                    <p class="footer__service">مرکز خدمات و پشتیبانی</p>
                    <p class="footer__time">۲۴ ساعته در ۷ روز هفته</p>
                </div>
                <div class="footer__connect"> 
                    <p class="footer__phone">۰۲۱-۸۷۰۰</p>
                    <p class="footer__site">۸۷۰۰ [at] emofied [dot] com</p>
                </div>
            </div>
            <div class="footer__menu">
                <div class="footer__sub-menu">
                    <p>درباره مفید</p>
                    <div>
                        <ul class="footer__sub-menu__item">
                            <li><a>درباره مفید</a></li>
                            <li><a>اخبار مفید</a></li>
                            <li><a>شعب و دفاتر</a></li>
                            <li><a> تماس با ما </a></li>
                            <li><a>سوالات متداول</a></li>
                            <li><a>شماره حساب های مفید</a></li>
                            <li><a>فرصت های شغلی</a></li>
                            <li><a>سامانه پشتیبانی</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__sub-menu">
                    <p>سرمایه‌گذاری</p>
                    <ul class="footer__sub-menu__item">
                        <li><a>مدیریت دارایی</a></li>
                        <li><a>صندوق های سرمایه گذاری</a></li>
                        <li><a>درخواست مشاوره</a></li>
                    </ul>
                </div>
                <div class="footer__sub-menu">
                    <p>معاملات</p>
                    <ul class="footer__sub-menu__item">
                        <li><a>معاملات بورس کالا</a></li>
                        <li><a>معاملات آتی کالا</a></li>
                        <li><a>معاملات بوری انرژی</a></li>
                        <li><a>تابلوی قیمت چرخشی</a></li>
                        <li><a>اولین های بازار</a></li>
                    </ul> 
                </div>
                <div class="footer__sub-menu">
                    <p>دسترسی سریع</p>
                    <ul class="footer__sub-menu__item">
                        <li><a>ورود به ایزی تریدر</a></li>
                        <li><a>ورود به پلکان</a></li>
                        <li><a>ورود به آنلاین پلاس</a></li>
                        <li><a>دانلود مفید تریدر</a></li>
                        <li><a>سایت بورس ویو</a></li>
                        <li><a>بامبو</a></li>
                        <li><a>سهام عدالت</a></li>
                        <li><a>سایت آموزش</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__footer">
                <div class="footer__container">
                    <div class="footer__item">
                        <div class="footer__icon">
                            <a href="#"><img src="../assets/Images/instagram-52a9e.svg"></a>
                        </div>
                        <div class="footer__icon">
                            <a href="#"><img src="../assets/Images/linkedin-53150.svg"></a>
                        </div>
                        <div class="footer__icon">
                            <a href="#"><img src="../assets/Images/telegram-d889c.svg"></a>
                        </div>
                        <div class="footer__icon">
                            <a href="#"><img src="../assets/Images/aparat-0e0a8.svg"></a>
                        </div>
                    </div>
                    <div class="footer__news">
                        <p  class="footer__form">با دریافت خبرنامه از آخرین اطلاعیه ها و آموزش ها مطلع شوید</p>
                        <form class="footer__form">
                            <input type="email" placeholder="ایمیل خود را وارد نمایید">
                            <button class="footer__btn">دریافت خبرنامه</button>
                        </form>
                    </div>
                </div>
                <div class="footer__copyright">
                    <p class="footer__text">کپی رایت ۱۴۰۱.کلیه حقوق این سایت متعلق به کارگزاری مفید می باشد.</p>
                    <div  class="footer__text">نسخه ۰.۱۱.۴</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer moradi -->
    <!--***************************************************************************************** --> 
    <script src="../assets/Js/App.js"></script>
</body>

</html>