<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/Style/normalized.css">
    <link rel="stylesheet" href="../assets/Style/main.css">
</head>
<body>
    <header class="header">

    </header>
    
    <main class="main">
        
        <section class="p1main">
            

        </section>

        <section class="p2main">

        </section>

        <section class="p3main">

        </section>
        <section class="p4main">
            <div class="p4main__title">
                
            </div>

        </section>

    </main>

    <footer class="footer">

    </footer>
    <script src="../assets/Js/App.js"></script>
</body>
</html> 
