@font-face {
    font-family: "YekanBakh";
    src: url("../Fonts/BazarFont/YekanBakh-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  
  }
  
  @font-face {
    font-family: "YekanBakh";
    src: url("../Fonts/BazarFont/YekanBakh-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: auto;
  }
  
  :root {
    --color-white: #fff;
    --color-mofid-blue-darker: #062a38;
    --color-mofid-blue-dark-middle: #083647;
    --color-mofid-blue-dark: #003b52;
    --color-mofid-blue: #004c6a;
    --color-mofid-blue-hover: #4d8297;
    --color-mofid-blue-active: #003c57;
    --color-mofid-blue-outline-hover: #e0eaed;
    --color-mofid-blue-outline-active: #b3c9d2;
    --color-mofid-green: #00a796;
    --color-mofid-green-hover: #4dc1b6;
    --color-mofid-green-active: #007f6f;
    --color-mofid-green-outline-hover: #e0f4f2;
    --color-mofid-green-outline-active: #b3e5e0;
    --color-mofid-green-top: #d0f0f2;
    --color-mofid-green-medium: #eef8f7;
    --color-mofid-green-light: #effbff;
    --color-text-darker: #2c2f33;
    --color-text-dark: #42474d;
    --color-text-medium: #585f66;
    --color-text-light: #6e7780;
    --color-text-lighter: #848e99;
    --color-gray: #c7d0d9;
    --color-gray-light: #f2f3f6;
    --color-gray-lighter: #f6f9fc;
    --color-gray-2: #dce1e6;
    --color-red: #e94e43;
    --color-light-bg: #fafafb;
    --color-duo: #ecf1f9;
    --color-success: #00c851;
    --color-error: #ff5c63;
    --color-disabled: #d2d6de;
    --color-amour: #faf2f8;
    --color-sherpa-blue: #003a52;
    --color-plum: #832c73;
    --color-pishtaz: #e73a2e;
    --color-pishtaz-medium: #e73a2e50;
    --color-pishtaz-light: #e73a2e2f;
    --color-pishro: #0ea44a;
    --color-pishro-medium: #0ea44a50;
    --color-pishro-light: #0ea44a2f;
    --color-momtaz: #472d8c;
    --color-momtaz-medium: #472d8c50;
    --color-momtaz-light: #472d8c2f;
    --color-omid: #00a1e8;
    --color-omid-medium: #00a1e850;
    --color-omid-light: #00a1e82f;
    --color-atlas: #0c3b61;
    --color-atlas-medium: #0c3b6150;
    --color-atlas-light: #0c3b612f;
    --color-hami: #43d06a;
    --color-hami-medium: #43d06a50;
    --color-hami-light: #43d06a2f;
    --color-nami: #2ed9c6;
    --color-nami-medium: #2ed9c650;
    --color-nami-light: #2ed9c62f;
    --color-ayar: #f7bc36;
    --color-ayar-medium: #f7bc3650;
    --color-ayar-light: #f7bc362f;
    --color-aram: #f9a33f;
    --color-aram-medium: #f9a33f50;
    --color-aram-light: #f9a33f2f;
    --size-body-font: var(--size-text-14);
    --size-text-10: 10px;
    --size-text-12: 12px;
    --size-text-14: 14px;
    --size-text-16: 16px;
    --size-text-18: 18px;
    --size-text-20: 20px;
    --size-text-22: 22px;
    --size-text-24: 24px;
    --size-text-32: 32px;
    --size-body-line-height: 1.5;
    --size-line-height-18: 18px;
    --size-line-height-26: 26px;
    --size-line-height-30: 30px;
    --size-line-height-32: 32px;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
    --space-6: 3rem;
    --space-7: 5rem;
    --space-8: 10rem;
    --radius-small: 6px;
    --radius-large: 40px;
    --transition: all 0.3s linear;
    --transition-fast: all 0.2s ease-in-out;
    --shadow-small: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --shadow-small-center: 0px 0px 4px rgba(0, 0, 0, 0.15);
    --Responsive-mobile: 565;
  }
  
  * {
    box-sizing: border-box;
    font-family: "YekanBakh";
    padding: 0;
    margin: 0%;
  }

/*start p1 rezvan-ahmadbeigi*/
.p1m3{
    width:100%;
    display:flex;
    flex-direction:column;
}
.p1m3-icons{
    padding:30px 90px;
    display: flex;
    flex-direction:column;
    gap:30px;
    margin-bottom: var(--space-5);
}
.p1m3-header{
    text-align: center;
    font-size:var(--size-text-20);
    margin-top:30px;
    }
.p1m3-row1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: var(--size-text-12);
}
.p1m3-icon{
    display: flex;
    flex-direction:column;  
    align-items:center;
    
}
.p1m3-icon1{
    padding-left:50px;
}
.p1m3-icon5{
    padding-left:50px;
}

.p1m3-row2{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: var(--size-text-12);
}
.p1m3-row3{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: var(--size-text-12);
}
.p1m3-iconText{
    margin-top:10px;
    color: var(--color-text-darker);
}
.p1m3-Text{
    display: flex;
    flex-direction:column;
    font-size: var(--size-text-14);
    text-align:center;
    padding: 0 var(--space-3);
    padding-bottom:70px;
    margin-bottom:50px;
    line-height: var(--size-line-height-26);
    color: var(--color-text-medium);
    border-bottom:1px solid  var(--color-gray-2);
}
.p1m3-Text2{
    display: flex;
    flex-direction:column;
    font-size: var(--size-text-14);
    text-align:center;
    padding: 0 var(--space-3);
    line-height: var(--size-line-height-26);
    color: var(--color-text-medium);
    margin-top:25px;
}
.p1m3-btn{
    padding: 7px 20px;
    border:1px solid;
    border-radius: var(--radius-small);
    border-color:#00a796;
    background-color:var(--color-mofid-green);
    width:184px;
    height:40px;
    font-size: var(--size-text-14);
    margin:20px auto;
    color:white;
}
.p1m3-btn:hover{
    background-color:var(--color-mofid-green-hover);
}


