@font-face {
  font-family: "YekanBakh";
  src: url("../Fonts/BazarFont/YekanBakh-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../Fonts/BazarFont/YekanBakh-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

:root {
  --color-white: #fff;
  --color-mofid-blue-darker: #062a38;
  --color-mofid-blue-dark-middle: #083647;
  --color-mofid-blue-dark: #003b52;
  --color-mofid-blue: #004c6a;
  --color-mofid-blue-hover: #4d8297;
  --color-mofid-blue-active: #003c57;
  --color-mofid-blue-outline-hover: #e0eaed;
  --color-mofid-blue-outline-active: #b3c9d2;
  --color-mofid-green: #00a796;
  --color-mofid-green-hover: #4dc1b6;
  --color-mofid-green-active: #007f6f;
  --color-mofid-green-outline-hover: #e0f4f2;
  --color-mofid-green-outline-active: #b3e5e0;
  --color-mofid-green-top: #d0f0f2;
  --color-mofid-green-medium: #eef8f7;
  --color-mofid-green-light: #effbff;
  --color-text-darker: #2c2f33;
  --color-text-dark: #42474d;
  --color-text-medium: #585f66;
  --color-text-light: #6e7780;
  --color-text-lighter: #848e99;
  --color-gray: #c7d0d9;
  --color-gray-light: #f2f3f6;
  --color-gray-lighter: #f6f9fc;
  --color-gray-2: #dce1e6;
  --color-red: #e94e43;
  --color-light-bg: #fafafb;
  --color-duo: #ecf1f9;
  --color-success: #00c851;
  --color-error: #ff5c63;
  --color-disabled: #d2d6de;
  --color-amour: #faf2f8;
  --color-sherpa-blue: #003a52;
  --color-plum: #832c73;
  --color-pishtaz: #e73a2e;
  --color-pishtaz-medium: #e73a2e50;
  --color-pishtaz-light: #e73a2e2f;
  --color-pishro: #0ea44a;
  --color-pishro-medium: #0ea44a50;
  --color-pishro-light: #0ea44a2f;
  --color-momtaz: #472d8c;
  --color-momtaz-medium: #472d8c50;
  --color-momtaz-light: #472d8c2f;
  --color-omid: #00a1e8;
  --color-omid-medium: #00a1e850;
  --color-omid-light: #00a1e82f;
  --color-atlas: #0c3b61;
  --color-atlas-medium: #0c3b6150;
  --color-atlas-light: #0c3b612f;
  --color-hami: #43d06a;
  --color-hami-medium: #43d06a50;
  --color-hami-light: #43d06a2f;
  --color-nami: #2ed9c6;
  --color-nami-medium: #2ed9c650;
  --color-nami-light: #2ed9c62f;
  --color-ayar: #f7bc36;
  --color-ayar-medium: #f7bc3650;
  --color-ayar-light: #f7bc362f;
  --color-aram: #f9a33f;
  --color-aram-medium: #f9a33f50;
  --color-aram-light: #f9a33f2f;
  --size-body-font: var(--size-text-14);
  --size-text-10: 10px;
  --size-text-12: 12px;
  --size-text-14: 14px;
  --size-text-16: 16px;
  --size-text-18: 18px;
  --size-text-20: 20px;
  --size-text-22: 22px;
  --size-text-24: 24px;
  --size-text-32: 32px;
  --size-body-line-height: 1.5;
  --size-line-height-18: 18px;
  --size-line-height-26: 26px;
  --size-line-height-30: 30px;
  --size-line-height-32: 32px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --space-7: 5rem;
  --space-8: 10rem;
  --radius-small: 6px;
  --radius-large: 40px;
  --transition: all 0.3s linear;
  --transition-fast: all 0.2s ease-in-out;
  --shadow-small: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-small-center: 0px 0px 4px rgba(0, 0, 0, 0.15);
  --Responsive-mobile: 565;
}

* {
  box-sizing: border-box;
  font-family: "YekanBakh";
  padding: 0;
  margin: 0%;
}

.main {
  display: block;
  position: relative;
  padding-top: 30px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
/***********************************************************************************************************/
/*Strat btn sabet*/
.btn-main {
  border-radius: 3px 0 0 3px;
  font-size: 13px;
  outline: none;
  padding: 12px 14px 12px 12px;
  background-color: #f4364c !important;
  transform-origin: 80%;
  transform: rotate(-0.25turn);
  width: 60px;
  height: 35px;
  position: fixed;
  right: 0px !important;
  top: 200px;
  z-index: 2;
  padding: 12px 14px 12px 12px;
  color: white;
}
.btn-main:hover {
  box-shadow: 0.1s ease-in-out;
  opacity: 0.96;
  animation: rotation 2s infinite linear;
  padding-bottom: 25px;
}
/*end btn sabet*/
/***********************************************************************************************************/

/***********************************************************************************************************/
/* Begin_Header Moghaddamfar */
.header {
  width: 100%;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  padding: 24px 16px 12px 16px;
  white-space: nowrap;
  font-size: var(--size-text-10);
  flex-shrink: 0;
}

.header__nav {
  order: 2;
  width: 100%;
}

.header__menu {
  display: flex;
  width: 100%;
  padding: 16px 0;
  order: 3;
}

.header__menulist {
  display: flex;
  position: absolute;
  overflow-y: hidden;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header__navitem {
  font-size: var(--size-text-12);
  color: var(--color-mofid-blue);
  font-weight: 800;
  padding: 4px 8px;
}

.header__menuMobile {
  display: block;
  width: 100%;
}
.header__menulist-mob {
  display: block;
  width: 100%;
}

.header__logo {
  margin-left: 50px;
}

.header__menuMobile_content {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  height: 800px;
  width: 100%;
  background-color: var(--color-white);
  overflow: scroll;
}
.header__menuMobile__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-3);
  padding-bottom: var(--space-3);
  width: 100%;
}
.header__dash {
  width: 200px;
  height: 20px;
  border-bottom: 1px dashed var(--color-gray);
}
.header__menuMobile__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray);
  width: 95%;
  height: 5%;
  border-radius: 10px;
  margin: 15px;
  cursor: text;
}
.header__menuMobile__search:focus-within {
  border: 1px solid var(--color-mofid-green);
}
#search {
  border: 0;
}
.header__menuMobile__search input {
  width: 90%;
  height: 100%;
  outline: 0;
}
.header__menuMobile__search input::placeholder {
  font-size: var(--size-text-12);
  color: var(--color-mofid-blue-hover);
}
.header__menuMobile__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__menuMobile__footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px;
}
.header__menuMobile__footer__content span {
  margin: 5px;
}
.header__menuMobile__footer__tel {
  border: 1px solid;
  border-radius: 5px;
  padding: 6px 16px;
}
.header__menuMobile__footer__content span:nth-child(1) {
  font-size: var(--size-text-14);
  font-weight: bold;
}
.header__menuMobile__footer__content span:nth-child(2) {
  font-size: var(--size-text-12);
}
.header__menuMobile__footer__tel a {
  font-size: var(--size-text-12);
  color: var(--color-mofid-blue-dark);
  font-weight: 500;
}
.header__menuMobile__footer__tel a svg {
  margin-right: 5px;
}
.header__menuMobile_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: var(--size-text-12);
}
.header__menuMobile_list li {
  list-style-type: none;
  margin: 12px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 96%;
}

.header__menuMobile_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__svgHideListRotate {
  transform: rotate(180deg);
  transition: var(--transition);
}
.header_Mobilehidelist {
  background: var(--color-light-bg);
}
.header_Mobilehidelist li {
  padding: 16px;
  transition: var(--transition);
  /*margin: 8px;*/
}
.header_Mobilehidelist li:hover {
  background: var(--color-mofid-green-light);
}
.header_Mobilehidelist li:hover a svg {
  display: block;
  margin: 8px;
}
.header_Mobilehidelist li:hover .header__MobileTitleFontStyle {
  color: var(--color-mofid-green);
}
.header_Mobilehidelist li:hover .header__MobileCaptionFontStyle {
  color: var(--color-mofid-blue);
}
.header_Mobilehidelist li a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_Mobilehidecontent {
  display: flex;
}
.header__Mobilehidedetails {
  display: flex;
  flex-direction: column;
}

.header__Mobilehidedetails_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#header__MobilehideColPosition {
  background-color: var(--color-gray-lighter);
}
#header__MobilehideColPosition li:hover {
  background-color: var(--color-gray-lighter);
}
.header__Mobilehidedetails_footer li {
  width: 40%;
}
#header__shadow {
  position: absolute;
  height: 30px;
  width: 60px;
  left: 0;
  background: linear-gradient(to right, #fdfdfd 0%, rgba(0, 76, 106, 0) 100%);
}

.header__menulist li {
  list-style-type: none;
  white-space: nowrap;
  margin-left: 24px;
  color: var(--color-mofid-blue);
}

.header__login {
  order: 1;
  display: flex;
  align-items: center;
  font-size: var(--size-text-12);
}

.header__btngetcode,
.header__btnsignin {
  padding: 3px 15px;
  border: 1px solid var(--color-mofid-blue);
  border-radius: var(--radius-small);
  line-height: 24px;
  cursor: pointer;
}

.header__btnsignin {
  margin-left: var(--space-1);
  color: var(--color-mofid-blue);
  background-color: white;
}
.header__btnsignin:hover {
  background-color: var(--color-gray-2);
  border: 0;
}
.header__btnsignin:active {
  background-color: var(--color-text-lighter);
  border: 0;
}
.header__btngetcode {
  background-color: var(--color-mofid-blue);
  color: var(--color-white);
}
.header__btngetcode:hover {
  background-color: var(--color-mofid-blue-hover);
}
.header__btngetcode:active {
  background-color: var(--color-mofid-blue);
}
.header_btnhamburger {
  box-sizing: border-box;
  background: transparent;
  margin: 0 24px;
  border: 0;
  padding: 9px 8px;
  z-index: 10;
}
.header_btnhamburger span {
  background-color: var(--color-mofid-blue);
  display: block;
  width: 16px;
  height: 2px;
  margin-bottom: 3px;
  transition: 0.3s;
}
.header_btnhamburger-showmenu span {
  width: 17px;
  transform-origin: 0;
}
.header_btnhamburger-showmenu span:nth-child(2) {
  visibility: hidden;
}
.header_btnhamburger-showmenu span:nth-child(1) {
  transform: rotate(36.9deg);
}
.header_btnhamburger-showmenu span:nth-child(3) {
  transform: rotate(-36.9deg);
}
.header_hideElement {
  display: none;
}

.header__styleFont {
  font-size: var(--size-text-12);
  color: var(--color-mofid-blue);
  font-weight: 800;
}

.header__MobileTitleFontStyle {
  font-size: var(--size-text-14);
  color: var(--color-text-darker);
}

.header__MobileCaptionFontStyle {
  font-size: var(--size-text-12);
  color: var(--color-text-lighter);
}

.header__btnEasyTrader {
  background-color: #f2f5f6;
  border-radius: var(--radius-small);
  padding: 4px 8px;
  display: flex;
}

/* End_Header Moghaddamfar */
/***********************************************************************************************************/
/*start p1m rezvan-ahmadbeigi*/
.p1m {
  width: 100%;
}
.p1m-mainpicture {
  position: relative;
  margin-bottom: 20px;

}

.p1m-Text {
  display: flex;
  flex-direction: column;
}
.p1m-Text {
  width: 100%;
  display: flex;
  flex-direction: column;

  position: absolute;
  bottom: 50px;
  align-items: center;
  justify-content: center;
  z-index: 99;
  color: white;
  gap: 30px;
  font-size: 14px;
  margin: 20px;
  line-height: var(--size-line-height-26);
  padding: 32px 24px;
}

.p1m-paragraph p {
  text-align: justify;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #00243c 0%, rgba(0, 76, 106, 0) 100%);
  bottom: 0;
}

.p1m-btn {
  padding: 7px 23px;
  background-color: #00a796;
  color: white;
  border-radius: 6px;
  border-color: #00a796;
  border-radius: var(--radius-small);
}

.p1m-btn:hover {
  background-color: #4dc1b6;
}
/*end p1m rezvan-ahmadbeigi*/
/***********************************************************************************************************/

/***********************************************************************************************************/
/* start part2 main  moradi */
.p2m0 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;
}

.p2m__positive-point {
  width: 100%;
}
.p2m__container__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 25px;
  padding: 80px 0;
}

.p2m__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  width: 50%;
  margin-left: 0;
  text-align: center;
}
.p2m__photo {
  width: 96px;
  height: 96px;
}

.p2m__phrase {
  font-family: "YekanBakh";
  font-size: var(--size-text-14);
}

.p2m__last-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 60px;
}

.p2m__header__news > h3 {
  font-family: "YekanBakh";
  font-size: var(--size-text-20);
  margin-bottom: 28px;
  color: var(--color-text-darker);
}

.p2m__item__news {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 20px;
}

.p2m__image {
  width: 135px;
  height: 81px;
  border-radius: 5px;
}

.p2m__text__news {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.p2m__text__news p {
  font-family: "YekanBakh";
  font-size: var(--size-text-14);
  font-weight: 500;
  color: var(--color-text-medium);
  width: 220px;
}

.p2m__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p2m__link_news {
  align-self: center;
  font-family: "YekanBakh";
  font-size: var(--size-text-16);
  font-weight: bold;
  color: var(--color-mofid-blue);
}

.p2m__link_icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* end part2 main  moradi */
/***********************************************************************************************************/

/***********************************************************************************************************/
/*begin p3m rezvan-ahmadbeigi*/
.p3m {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.p3m-titile {
  display: flex;
  flex-direction: column;
  color: #2c2f33;
}

.p3m-Text-moshavere {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 25px;
  padding-right: 8px;
  padding-left: 8px;
  color: #585f66;
  font-size: 14px;
}

.p3m-submit {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.p3m-h2-main {
  text-align: center;
  font-size: 20px;
}

.p3m-h2-secondary {
  margin-bottom: 35px;
  margin-top: 10px;
  font-size: 16px;
  color: #2c2f33;
  text-align: center;
}

.p3m-submit-button {
  background-color: #004c6a;
  border-radius: 4px;
  color: white;
  padding: 7px 23px 7px 23px;
  border: 1px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 14px;
  width: 210px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.p3m-submit-button:hover {
  background-color: #4d8297;
}

.p3m-more-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.p3m-text-more {
  color: #004c6a;
}

.p3m-arrow {
  color: #004c6a;
}

.p3m-QR {
  display: flex;
  flex-direction: column;
  color: #003b52;
  padding: 10px;
  margin-top: 60px;
  gap: 20px;
}

.p3m-main3-1 {
  color: #2c2f33;
  font-size: 20px;
}

.p3m-header {
  font-size: 18px;
  color: #6e7780;
}

.img-pm3 {
  margin-top: 20px;
  width: 100%;
}

#p3m-DIV1,
#p3m-DIV2,
#p3m-DIV3,
#p3m-DIV4 {
  display: none;
}
/*end p3m rezvan-ahmadbeigi*/
/***********************************************************************************************************/

/***********************************************************************************************************/
/* begin part4-5 main ali foruz */

.p4-5m {
  background-color: var(--color-mofid-blue-darker);
  padding-top: var(--space-7);
  padding-bottom: var(--space-3);
}

.p4m__container {
  display: block;
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-3);
}

.p4m__title {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  text-align: center;
  margin-bottom: var(--space-7);
  font-size: 20px;
}

.p4m__h4 {
  font-size: 20px;
  margin-bottom: var(--space-2);
  font-weight: bold;
}

.p4m__title span {
  font-size: 16px;
}

.p4m__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-white);
  margin-bottom: var(--space-7);
}

.p4m__card {
  display: flex;
  padding: 0 var(--space-3);
  align-items: center;
  width: 33.33%;
  flex-direction: column;
  text-align: center;
  margin-bottom: var(--space-5);
}

.p4m__circle {
  width: 60px;
  height: 60px;
  background-color: var(--color-mofid-blue-dark-middle);
  border-radius: 50%;
  margin-bottom: var(--space-2);
  background-repeat: no-repeat;
  background-position: center;
}

.p4m__circle-1 {
  background-image: url(../Images/1-d2708.svg);
}

.p4m__circle-2 {
  background-image: url(../Images/2-fd304.svg);
}

.p4m__circle-3 {
  background-image: url(../Images/3-3742d.svg);
}

.p4m__circle-4 {
  background-image: url(../Images/4-ea5c4.svg);
}

.p4m__circle-5 {
  background-image: url(../Images/5-a000f.svg);
}

.p4m__circle-6 {
  background-image: url(../Images/6-935ea.svg);
}

.p4m__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: var(--space-7);
}

.p4m__explain {
  width: 750px;
  max-width: 100%;
  font-size: var(--size-text-16);
  line-height: var(--size-line-height-26);
  color: var(--color-white);
  text-align: center;
  margin-bottom: var(--space-6);
}

.p4m__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p4m__Button {
  padding: 7px 23px;
  font-size: var(--size-text-14);
  line-height: 24px;
  padding: 7px 23px;
  background-color: var(--color-mofid-green);
  color: var(--color-white);
  border-radius: var(--radius-small);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-mofid-green);
  transition: var(--transition-fast);
  cursor: pointer;
  flex-shrink: 0;
  margin-left: var(--space-6);
}

.p4m__more {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: var(--size-body-font);
  line-height: var(--size-body-line-height);
  text-decoration: none;
}

.p4m__more::after {
  content: "";
  width: 10px;
  height: 10px;
  background: url(../images/arrow-left-white-7fc9e.svg) no-repeat scroll center;
  margin-right: var(--space-2);
}

.p5m__easytrader {
  width: 768px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: var(--space-8);
}

.p5m__title {
  font-size: var(--size-text-24);
  color: var(--color-white);
  text-align: center;
  margin-bottom: var(--space-6);
  font-weight: bold;
}

.p5m__png {
  height: 18px;
  min-height: 1px;
  margin-left: var(--space-2);
  max-width: 100%;
}

.p5m__height {
  display: none;
  height: auto;
}

.p5m__easytrader-shots {
  width: 240px;
  max-width: 100%;
  margin: 0 auto;
}

.p5m__mobile {
  display: inherit;
  height: auto;
}

.p5m__details {
  display: flex;
  width: 820px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  padding: 0 var(--space-3);
}

.p5m__col-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p5m__col-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: var(--color-white);
}

.p5m__logo {
  width: 105px;
  height: auto;
  min-height: 1px;
  margin-bottom: var(--space-4);
  max-width: 100%;
}

.p5m__symbol {
  display: flex;
  font-size: 19px;
  text-align: left;
  font-weight: 100;
  color: var(--color-white);
  margin-bottom: var(--space-4);
}

.p5m__p {
  max-width: 100%;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 0;
  text-align: center;
}

.p5m__more {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: var(--size-body-font);
  line-height: var(--size-body-line-height);
  text-decoration: none;
  margin: 0 auto;
}

.p5m__more::after {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: var(--space-2);
  background: url(../images/arrow-left-white-7fc9e.svg) no-repeat scroll center;
}

.p5m__container {
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-3);
}

.p5m__row {
  display: flex;
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.p5m__col-2-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 100%;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: var(--space-6);
}

.p5m__wrapper {
  max-width: 100%;
}

.p5m__flex {
  align-items: center;
  display: flex;
  margin-bottom: var(--space-4);
}

.p5m__icon-hami {
  background-image: url(../images/hami-cd6ac.svg);
}

.p5m__icon {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: var(--space-3);
}

.p5m__texts {
  color: var(--color-white);
}

.p5m__mb-2 {
  margin-bottom: var(--space-2);
  font-weight: bold;
}

.p5m__main {
  display: flex;
  flex-direction: column;
}

.p5m__text-white {
  max-width: 100%;
  width: 430px;
  font-size: 14px;
  color: var(--color-white);
  margin-bottom: var(--space-3);
}

@media only screen and (min-width: 576px) {
  .p5m__text-white {
    font-size: var(--size-text-16);
  }
}

.p5m__col-2-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 100%;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: var(--space-6);
}

.p5m__icon-karmozd {
  background-image: url(../images/karmozd-4a8ce.svg);
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* begin pats3 main */
.p4main {
  background-color: var(--color-mofid-blue-darker);
}
/*end p3m*/

**********************************************************************************************************/
/*start p6m rezvan-ahmadbeigi*/
.p6m {
  width: 100%;
  padding: 10px;
}
.p6m-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 24px;
}
.p6m-header {
  font-size: 20px;
  margin-bottom: var(--space-4);
}
.p6m-Text {
  font-size: 16px;
  padding-right: 16px;
  padding-left: 16px;
  line-height: 25px;
  color: var(--color-text-medium);
}
.p6m-mofidClasses {
  display: flex;
  flex-direction: column;
}
.p6m--header {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.p6m-week {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*padding:10px;*/
  text-align: center;
  font-size: 10px;
}
.p6m-btn-day {
  background-color: var(--color-gray-light);
  padding: 4px 20px;
  border-radius: var(--radius-small);
  border-color: var(--color-gray-light);
  margin-top: 5px;
}
.p6m-Days {
  display: flex;
  flex-direction: column;
}
.p6m-boxes {
  width: 100%;
  /*padding:20px;*/
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.p6m-box1,
.p6m-box2,
.p6m-box3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-gray-light);
  padding-bottom: 10px;
  padding-top: 12px;
}
.p6m-textbox {
  padding-right: 20px;
}

#p6m-part2,
#p6m-part3,
#p6m-part4,
#p6m-part5 {
  display: none;
}
.p6m-time {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 7px;
}
.p6m-titileOfclass {
  margin-top: 10px;
  font-size: var(--size-text-14);
  color: var(--color-text-darker);
}
.p6m-btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 6px 15px;
  align-items: center;
  font-size: var(--size-text-14);
  color: #00a796;
  border-color: #00a796;
  background-color: var(--transition);
  border-radius: var(--radius-small);
  margin-top: 10px;
}
.p6m-btn:hover {
  background-color: var(--color-mofid-green-outline-active);

  border-color: var(--color-mofid-green-outline-hover);
}

.p6m-img {
  width: 100px;
  height: 100px;
  border-radius: var(--radius-small);
}
.iconclock {
  color: var(--color-text-dark);
}
/*end p6m rezvan-ahmadbeigi*/
/**********************************************************************************************************

/***********************************************************************************************************/
/*start p6m rezvan-ahmadbeigi*/
.p6m {
  width: 100%;
  padding: 10px;
}
.p6m-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 24px;
}
.p6m-header {
  font-size: 20px;
  margin-bottom: var(--space-4);
}
.p6m-Text {
  font-size: 16px;
  padding-right: 16px;
  padding-left: 16px;
  line-height: 25px;
  color: var(--color-text-medium);
}
.p6m-mofidClasses {
  display: flex;
  flex-direction: column;
}
.p6m--header {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.p6m-week {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*padding:10px;*/
  text-align: center;
  font-size: 10px;
}
.p6m-btn-day {
  background-color: var(--color-gray-light);
  padding: 4px 20px;
  border-radius: var(--radius-small);
  border-color: var(--color-gray-light);
  margin-top: 5px;
}

.p6m-Days {
  display: flex;
  flex-direction: column;
}

.box-ha {
  width: 100%;
  /*padding:20px;*/
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.box1,
.box2,
.box3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-gray-light);
  padding-bottom: 10px;
  padding-top: 12px;
}
.matn1 {
  padding-right: 20px;
}
#rez2,
#rez3 {
  display: none;
}
.p1 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 7px;
}
.p2 {
  margin-top: 10px;
  font-size: var(--size-text-14);
  color: var(--color-text-darker);
}
.p6m-btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 6px 15px;
  align-items: center;
  font-size: var(--size-text-14);
  color: #00a796;
  border-color: #00a796;
  background-color: var(--transition);
  border-radius: var(--radius-small);
  margin-top: 10px;
}
.p6m-btn:hover {
  background-color: var(--color-mofid-green-outline-active);

  border-color: var(--color-mofid-green-outline-hover);
}

.p6m-img {
  width: 100px;
  height: 100px;
  border-radius: var(--radius-small);
}
.iconclock {
  color: var(--color-text-dark);
}
/*end p6m rezvan-ahmadbeigi*/
/***********************************************************************************************************/

/***********************************************************************************************************/
/* begin p7m  moradi */
.p7m__container {
  padding: 32px;
  margin: 0 auto;
}

.p7m__education {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--space-5);
}
.p7m__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100%-64px);
  margin-bottom: 40px;
}
.p7m__item_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.p7m__box_image {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-gray-light);
}

.p7m__image {
  align-self: center;
  width: 35px;
  height: 35px;
}

.p7m__text {
  margin-right: 15px;
}
.p7m__item_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p7m__item_content section {
  margin-bottom: var(--space-5);
  font-family: "YekanBakh";
  font-size: var(--size-text-16);
  font-weight: 500;
  color: var(--color-text-darker);
  text-align: center;
  line-height: var(--size-line-height-26);
}

.p7m__arrow_icon {
  display: flex;
  flex-direction: row;
}

.p7m__arrow_icon a {
  color: var(--color-mofid-blue);
  font-size: var(--size-text-14);
  font-family: "YekanBakh";
  font-weight: 500;
  margin-left: 5px;
}
/* support button  دکمه پشتیبانی  */
.btn_support {
  background-color: var(--color-mofid-blue-dark);
  position: fixed;
  z-index: 100;
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: none;
}
/* end part7 main moradi */
/***********************************************************************************************************/

/* ******************************************************************************************************** */
/* begin part8 main moradi */
.p8m__header {
  font-size: var(--size-text-20);
  color: var(--color-text-darker);
  text-align: center;
  margin-bottom: var(--space-6);
}
.p8m__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}
.p8m__image_bourse_pellekan {
  max-width: 100%;
  height: auto;
}
.p8m__content_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: var(--space-6);
}
.p8m__btn {
  border: none;
  background-color: var(--color-white);
  border-bottom: 2px solid #f2f3f6;
  font-size: var(--size-text-20);
}
.p8m__content_text {
  margin-bottom: var(--space-7);
}
.p8m__btn_bourse {
  padding: 10px 15px;
}
.p8m__btn_pellekan {
  padding: 10px 10px;
}
#p8m__bourse {
  display: block;
}
#p8m__pellekan {
  display: none;
}
.p8m__Text {
  color: var(--color-mofid-blue-darker);
  text-align: center;
  line-height: var(--size-line-height-26);
}
.p8m__text section {
  font-size: var(--size-text-16);
  font-weight: 500;
  margin-bottom: var(--space-5);
}
.p8m__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}
.p8m__menu_item:before {
  display: block;
  content: " ";
  background-image: url("../images/iconmonstr-check-mark-4-24.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}
.p8m__menu_item {
  font-size: var(--size-text-16);
  font-weight: 500;
  line-height: var(--size-line-height-26);
  color: var(--color-mofid-blue-darker);
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.p8m__more_information {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-self: center;
}
.p8m__text_information {
  font-size: var(--size-text-14);
  font-weight: 500;
  color: var(--color-mofid-blue-darker);
}
.p8m__code_bourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--space-7);
}
.p8m__code_bourse h3 {
  margin-bottom: var(--space-5);
  width: 70%;
  line-height: var(--size-line-height-30);
  align-self: center;
  text-align: center;
}
.p8m__text_code {
  font-weight: 500;
  margin-bottom: var(--space-6);
}
.p8m__btn_code_bourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: var(--space-4);
}
.p8m__btn_code {
  background-color: var(--color-mofid-green);
  color: var(--color-white);
  width: fit-content;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
}
.p8m__btn_guide {
  background-color: var(--color-white);
  color: var(--color-mofid-blue);
  width: fit-content;
  padding: 12px 25px;
  border: 0.1px solid #062a38;
  border-radius: 5px;
}
/* end part8 main  moradi */
/* ************************************************************************************************* */
/* begin footer moradi */
.footer__main_page {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  padding: 80px 0;
}

.footer__main_page > h1 {
  font-family: "YekanBakh";
  margin-bottom: var(--space-5);
}

.footer__container_logos {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 33.33%;
  height: 93px;
  margin-bottom: var(--space-4);
}

.footer__logos {
  width: 100%;
  height: 93px;
  margin-bottom: var(--space-4);
}

.logo {
  width: 75px;
  height: 75px;
}

.footer__logo p,
.footer__logos p {
  font-size: var(--size-text-12);
  font-family: "YekanBakh";
}
/* ****************** */

.footer__support {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-gray-light);
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}

.footer__support > div > p {
  font-family: "YekanBakh";
  text-align: center;
  color: var(--color-mofid-blue);
}

.footer__service {
  font-size: vqr(--size-text-16);
  margin-bottom: var(--space-2);
  font-weight: bold;
}

.footer__time {
  margin-bottom: var(--space-2);
  font-weight: bold;
  font-size: 13.33px;
}

.footer__connect {
  margin-top: var(--space-3);
}

.footer__phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__phone_number {
  font-family: "YekanBakh";
  font-weight: bold;
  color: var(--color-mofid-blue);
  font-size: var(--size-text-14);
}

.footer__site {
  direction: ltr;
  text-align: center;
  font-weight: bold;
  font-size: var(--size-text-14);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.footer__menu {
  margin: 0 16px;
  padding-bottom: 30px;
  border-bottom: 1px solid #c7d0d9;
}

.footer__sub_menu > p {
  font-family: "YekanBakh";
  font-weight: bold;
  font-size: var(--size-text-16);
  color: var(--color-text-dark);
  margin-bottom: var(--space-4);
  padding-top: var(--space-6);
}

.footer__sub_menu__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.footer__sub_menu__item a {
  font-family: "yekanBakh";
  font-size: var(--size-text-14);
  font-weight: 400;
  color: var(--color-mofid-blue);
}

.footer__footer {
  padding: 0 16px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid #c7d0d9;
}

.footer__item {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: var(--space-6);
  margin-top: var(--space-3);
}

.footer__icon {
  width: 18px;
  height: 18px;
}

.footer__news p {
  font-family: "YekanBakh";
  font-size: var(--size-text-14);
  font-weight: 600;
  color: var(--color-mofid-blue);
  line-height: var(--space-5);
}

.footer__form {
  display: flex;
  justify-content: flex-end;
}

.footer__form input {
  padding: 12px 22px;
  font-family: "YekanBakh";
  font-size: 14px;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
  background-color: var(--color-gray-light);
  border: 1px solid #dce1e7;
  border-left: none;
}

.footer__btn {
  padding: 0 28px;
  color: var(--color-white);
  background-color: var(--color-mofid-green);
  font-family: "YekanBakh";
  border: none;
  border-radius: 8px 0 0 8px;
  font-weight: 600px;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  text-align: center;
}

.footer__copyright div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--color-duo);
  border-radius: 20px;
  width: 90px;
  height: 30px;
  align-items: baseline;
}
.footer__text {
  font-family: "YekanBakh";
  font-size: var(--size-text-14);
  font-weight: 600;
  color: var(--color-text-darker);
  line-height: 30px;
}
/* end footer moradi */
/***********************************************************************************************************/
/*start p6m rezvan-ahmadbeigi*/
.p6m{
  width:100%;
  padding:10px;
}
 .p6m-education{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align: center;
  padding-top:80px;
  padding-bottom:24px;
 }
 .p6m-header{
  font-size:20px;
  margin-bottom:var(--space-4);
 }
 .p6m-Text{
  font-size: 16px;
  padding-right:16px;
  padding-left: 16px;
  line-height:25px;
  color: var(--color-text-medium);
 }
 .p6m-mofidClasses{
  display: flex;
  flex-direction: column;
 }
 .p6m--header{
  text-align: center;
  margin-top:60px;
  margin-bottom: 30px;
 }
 .p6m-week{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  /*padding:10px;*/
  text-align:center;
  font-size:10px;
 }
 .p6m-btn-day{
  background-color:var(--color-gray-light);
  padding:4px 20px;
  border-radius: var(--radius-small);
  border-color:var(--color-gray-light); 
  margin-top: 5px;

}

.p6m-Days{
  display:flex;
  flex-direction:column;
}

.box-ha{
  width:100%;
  /*padding:20px;*/
  display: flex;
  flex-direction: column;
  margin-top:20px;
}
.box1 ,.box2 ,.box3{
  width:100%;
  display: flex;
  flex-direction:row;
  border-bottom: 1px solid var(--color-gray-light);
  padding-bottom:10px;
  padding-top:12px;
}
.matn1{
  padding-right:20px;
}
#rez2,#rez3{
  display: none;
}
.p1{
  display:flex;
  flex-direction:row;
  gap:8px;
  margin-top:7px;
}
.p2{
  margin-top:10px;
  font-size: var(--size-text-14);
  color:var( --color-text-darker);
}
.p6m-btn{
  display: flex;
  flex-direction:row;
  gap:8px;
  padding:6px 15px;
  align-items:center;
  font-size: var(--size-text-14);
  color:#00a796;
  border-color:#00a796;
  background-color:var(--transition);
  border-radius:var(--radius-small);
  margin-top:10px;
}
.p6m-btn:hover{
 background-color:var( --color-mofid-green-outline-active);

 border-color: var(--color-mofid-green-outline-hover);
}

.p6m-img{
  width:100px; height:100px; 
  border-radius: var(--radius-small);
}
.iconclock{
  color: var(--color-text-dark);
}
.active{
  color:#00a796;
}
 /*end p6m rezvan-ahmadbeigi*/
 /***********************************************************************************************************/


/* ******************************************************************************************************** */
/* begin part8 main moradi */
.p8m__header{
  font-size: var(--size-text-20);
  color:var(--color-text-darker);
  text-align: center;
  margin-bottom: var(--space-6);
}
.p8m__container{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:0 16px;
}
.p8m__image_bourse_pellekan{
  max-width: 100%;
  height: auto;
}
.p8m__content_btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: var(--space-6);
}
.p8m__btn{
  border: none;
  background-color:var(--color-white);
  border-bottom: 2px solid #f2f3f6;
  font-size:var(--size-text-20);
}
.p8m__content_text{
  margin-bottom: var(--space-7);
}
.p8m__btn_bourse{
  padding: 10px 15px;
}
.p8m__btn_pellekan{
  padding:10px 10px;
}
#p8m__bourse{
  display:block
}
#p8m__pellekan{
  display:none;
}
.p8m__Text{
  color:var(--color-mofid-blue-darker);
  text-align: center;
  line-height: var(--size-line-height-26);
}
.p8m__text section{
  font-size: var(--size-text-16);
  font-weight:500;
  margin-bottom: var(--space-5);
}
.p8m__menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}
.p8m__menu_item:before{
  display: block;
  content: ' ';
  background-image: url('../images/tick-icon.png');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}
.p8m__menu_item{
  font-size: var(--size-text-16);
  font-weight: 500;
  line-height: var(--size-line-height-26);
  color:var(--color-mofid-blue-darker);
  display:flex;
  align-items:flex-start;
  gap:10px;
}
.p8m__more_information{
  display: flex;
  justify-content: center;
  gap:5px;
  align-self: center;
}
.p8m__text_information{
  font-size: var(--size-text-14);
  font-weight: 500;
  color:var(--color-mofid-blue-darker);
}
.p8m__code_bourse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--space-7);
}
.p8m__code_bourse h3{
  margin-bottom: var(--space-5);
  width:70%;
  line-height: var(--size-line-height-30);
  align-self: center;
  text-align: center;
}
.p8m__text_code{
  font-weight: 500;
  margin-bottom: var(--space-6);
}
.p8m__btn_code_bourse{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  margin-bottom: var(--space-4);
}
.p8m__btn_code{
  background-color:var(--color-mofid-green);
  color:var(--color-white);
  width:fit-content;
  padding: 12px 20px;
  border:none;
  border-radius: 5px;
}
.p8m__btn_guide{
  background-color: var(--color-white);
  color:var(--color-mofid-blue);
  width: fit-content;
  padding:12px 25px;
  border:.1px solid #062a38;
  border-radius: 5px;
}
/* end part8 main  moradi */
/* ************************************************************************************************* */
